@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,600&display=swap');

* {
    padding: 0px;
    margin: 0px;
}


body {
    background-color: #EFF3F6;
    font-family: 'Poppins', semi-bold;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background-color: #253141;
}
    header img{
        height: 100px;
    } 
    #buscador {
        width: 60%;
        padding: 6px;
        margin: 10px;
        border-radius: 20px;
    }


.navegacion ul{
    list-style: none;
    background-color: #B7BCC0;
}
.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #253141;
}

.menu li a:hover{
    text-decoration: underline;
}

.submenu{
    width: 150%;
    position: absolute;
    display: none;
    z-index: 100;
    
}

.submenu a{
    text-decoration: none;
    color: whitesmoke;
}
.submenu li{
    background-color: #253141;
    border-bottom: 1px solid black;
    padding: 15px;
}
.menu li:hover .submenu{
    display: block;
}

.subtitulo{
    text-align: center;
    margin-top: 50px;
}

#productos-nuevos{
    padding-top: 20px;
    max-width: 100%;
    display: flex;
    gap: 50px 100px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.producto-posicion{
    margin-right: 20px;
    border: 2px solid black;
    width: 200px;
    transition: 0.2s;
    display:inline;

}

.producto-posicion:hover{
    border-radius: 5px;
    transform: scale(1.01);
    box-shadow: 5px 5px 8px 0px #0000008c;
}

.img-prod{
    background-color: white;
    width: 200px;
    height: 200px;
}
.nombre-prod{
    margin: 0px;
    background-color: #253141;
    color: whitesmoke;
}
.precio-prod{
    text-align: center;
}

footer{
    margin-top: 50px;
    background-color: #253141;
}
#footer-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-cont img{
    width: 300px;
}
#footer-cont p{
    color: whitesmoke;
}




#body-catalogo{
    margin: 20px;
}


#seccion-titulo{
    margin-bottom: 20px ;
    width: fit-content;
}
#seccion-filtros{
    display: flex;
}
#seccion-filtros h3 {
    margin-left: 50px;
}
#seccion-filtros select{
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}
#seccion-filtros p{
    margin-left: 50px;
}
#hr-catalogo{
    width: 90%;
    margin-top: 20px;
}