
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,600&display=swap');


* {
    padding: 0px;
    margin: 0px;
}


body {
    background-color: #EFF3F6;
    font-family: 'Poppins', semi-bold;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background-color: #253141;
}
    header img{
        height: 100px;
    } 
    #buscador {
        width: 60%;
        padding: 6px;
        margin: 10px;
        border-radius: 20px;
    }



.navegacion ul{
    list-style: none;
    background-color: #B7BCC0;
}
.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #253141;
}

.menu li a:hover{
    text-decoration: underline;
}

.submenu{
    width: 150%;
    position: absolute;
    display: none;
    z-index: 100;
    
}

.submenu a{
    text-decoration: none;
    color: whitesmoke;
}
.submenu li{
    background-color: #253141;
    border-bottom: 1px solid black;
    padding: 15px;
}
.menu li:hover .submenu{
    display: block;
}






#slides {
    margin-top: 60px;
    position: relative;
    left: 10%;
    border: 5px solid #253141;
    width: 80%;
    height: 250px;
    list-style-type: none;
    box-shadow: 15px 10px 20px 0px #253141;
}


.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide {
    font-size: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background-image: url(../img/Captura\ de\ pantalla\ 2024-08-08\ 234034.png);
    background-position: 50%;
}
.slide:nth-of-type(2) {
    background-image: url(../img/Captura\ de\ pantalla\ 2024-08-08\ 234051.png);
    background-position: 50%;
}
.slide:nth-of-type(3) {
    background-image: url(../img/Captura\ de\ pantalla\ 2024-08-08\ 234527.png);
}
.arrow {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.arrow img{
  top: 40%;
  padding-left: 10px;
  margin: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  display: inline-block;
}
.arrow #right{
  float: right;
  padding-right: 80px;
}
.arrow:hover{
    opacity: 1;
}


.subtitulo{
    text-align: center;
    margin-top: 50px;
}

#productos-nuevos{
    display: flex;
    justify-content: center;
    
    
}

.producto-posicion{
    margin-right: 20px;
    border: 2px solid black;
    width: 200px;
    transition: 0.2s;
}

.producto-posicion:hover{
    border-radius: 5px;
    transform: scale(1.01);
    box-shadow: 5px 5px 8px 0px #0000008c;
}

.img-prod{
    width: 200px;
    height: 200px;
}
.nombre-prod{
    margin: 0px;
    background-color: #253141;
    color: whitesmoke;
}
.precio-prod{
    text-align: center;
}
footer{
    margin-top: 50px;
    background-color: #253141;
}
#footer-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-cont img{
    width: 300px;
}
#footer-cont p{
    color: whitesmoke;
}